.technology_heading{
    text-align: center;
    /* ma-top: 6rem; */
    margin-bottom: 4rem;
    padding-top: 4rem;
}
.technology_main{
    background-color: #121325;
    /* padding-top: 0.1rem; */
    /* margin-top: 1rem; */
    padding-bottom: 2rem;
}
.technology_content{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2; */
    display: inline-block;
    animation: scroll 20s linear infinite;
    
}
.technology_scroll {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.technology_logo {
    display: inline-block;
    margin: 0 2rem;
    vertical-align: middle;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo{
    font-size: 6rem;
    transition: all 0.3s ease;
}
.technology_logo:hover {
    transform: scale(1.2) translateY(-10px);
    z-index: 1;
    filter: drop-shadow(0 5px 15px rgba(94, 90, 90, 0.3));
}

.technology_logo:hover .logo {
    font-size: 4rem; 
}
.technology_scroll:hover .technology_content {
    animation-play-state:running;
}
.react_logo{
    color: #21cdec;
}
.mongo_logo{
    color: #08ee69;
}
.git_logo{
    color: black;
}
.html_logo{
    color: #dd4b25;
}
.css_logo{
    color: #2960ee;
}
.js_logo{
    color: #f3d024;
}
.cpp_logo{
    color: #0081cc;
}
.technology_logo{
    /* border: 1px solid ; */
    border-radius: 1.75rem;
    padding: 0.25rem;
    margin: 0 1rem;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*            BREAKPOINTS            */

/* For large devices */
@media screen and (max-width: 992px) {
    .technology_logo {
        margin: 0 2.5rem;
    }
}
/* For medium devices */
@media screen and (max-width: 768px) {
    .logo {
        font-size: 3rem;
    }
    .technology_logo {
        margin: 0 2rem;
    }
    .technology_logo:hover .logo {
        font-size: 1.8rem; 
    }
}
@media screen and (max-width: 576px) {
    .technology_logo {
        margin: 0 1.5rem;
    }
}
/* For small devices */
@media screen and (max-width: 350px) {
    .technology_logo {
        margin: 0 1rem;
    }
}