.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skills_content {
    background: #0D111D;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 800px;
  }
  .skills_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .skills_group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .skills_data {
    display: flex;
    align-items: center;
  }
  
  .skills_data i {
    font-size: 1.5rem;
    /* color: var(--first-color); */
    margin-right: .75rem;
  }
  
  .skills_name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 18px
  }
  
  .skills_level {
    font-size: .875rem;
    font-weight: 300;
    /* color: var(--text-color-light); */
  }

  .skills_title{
    font-size:large;
    font-weight:bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #FA8604
    ;
  }
  .skills_group{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
  }
  .skills_data{
    display: flex;
    column-gap: 0.5rem;
  }
  #skills{
    margin-top: 8rem;
  }
  /*            BREAKPOINTS            */

/* For large devices */
@media screen and (max-width: 992px) {
    .skills_box{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}
/* For medium devices */
@media screen and (max-width: 768px) {
   
}
@media screen and (max-width: 576px) {
    .skills_box{
        grid-template-columns: 1fr;
    }
    .skills_content{
        padding: 1.5rem;
    }
}
/* For small devices */
@media screen and (max-width: 350px) {
    
}
  